@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}

body{
    font-family: Roboto;
    line-height: 1.5;
    font-size: 24px;
}
.l-container{
    max-width: 1200px;
    margin: 0 auto;
}
.l-skill{
    max-width: 996px;
    margin: 0 auto;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;
}
.l-name{
    font-size: 80px;
    border-bottom: 2px solid #000000;
    margin-bottom: 48px;
    line-height: 105px;
}
.l-img{
    margin-bottom: 48px;
}
.skill, .footer{
    background: #415165;
}
.skill{
    margin-bottom: 72px;
}
.l-group{
    margin-bottom: 72px;
}
.l-group--work{
    margin-bottom: 72px;
    padding-left: 24px;
    margin-left: 23px;
    border-left: 1px solid #96A9C4;
}
.l-group__item{
    margin-bottom: 24px;
}
.l-group__title{
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.l-group__text{
    font-size: 32px;
    margin-right: 16px;
    vertical-align: middle;
}
.l-group__subText{
    color: #A00404;
    vertical-align: middle;
}
.l-group__content{
    max-width: 642px;
    font-size: 20px;
}
.l-group__img{
    margin-top: -16px;
    margin-bottom: 8px;
}
.l-skill__title{
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    margin-bottom: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.l-skill__text{
    font-size: 32px;
    margin-right: 16px;
    vertical-align: middle;
}
.l-skill__subText{
    vertical-align: middle;
}
.l-skill__list{
    margin: 0 auto;
    max-width: 217px;
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
}
.l-skill__list>li{
    margin-bottom: 16px;
}
.l-contact__title{
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    text-align: center;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;
}
.l-contact__text{
    font-size: 32px;
    margin-right: 16px;
    vertical-align: middle;
}
.l-contact__subText{
    vertical-align: middle;
}
.l-contact__listItem{
    margin-bottom: 16px;
}
.c-link{
    text-decoration: none;
    color: #fff;
}
.c-link--hover:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 1px;
}
.c-img{
    display: block;
}
.c-img--big{
    width: 324px;
    height: 324px;
}
.c-img--normal{
    width: 90px;
    height: 90px;
}
.c-img--small{
    width: 48px;
    height: 48px;
}
.l-contact__img{
    display: flex;
    justify-content: center;
}
.l-contact__img > li{
    margin-right: 24px;
}